html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    height: fit-content;
    align-self: center;
    text-align: center;
    background-color:burlywood;
    border-radius: 15px;
    width: 90%;
}

main {
    display: flex;
    flex-direction:row;
    height: fit-content;
    width: 90%;
    background-color:azure;
    margin: 2%;
    border-radius: 15px;
    padding: 2%;
}

footer {
    height: 10%;
    width: 90%;
    background-color:cadetblue;
    border-radius: 15px;
    padding-left: 3%;
    line-height: 0.2;
    align-self: center;
}

a.buttons {
    display: flex;
    flex-direction:column;
    height: 100%;
    margin: 2%;
    padding: 2%;
}

button {
    width: 100%;
    height: 50%;
    background-color: burlywood;
    margin: 2%;
}

.rules {
    width: 85%;
    background-color:beige;
    margin: 1%;
    padding: 1%;
    border-radius: 15px;
}