html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    height: fit-content; /* permet au header de garder ses items DANS lui-meme et empeche le débordement */
    align-self: center;
    text-align: center;
    width: 90%;
}

.menuyamsheader{
    display: flex;
    flex-direction: column;
    background-color: rgb(167, 201, 214); /* précision: les couleurs avec "rgb(...)" sont des couleurs choisies lorsque j'utilise la palette de VSC (en clickant le petit carré de couleur) */
    border-radius: 25px;
    width: 20%;
    padding: 1%;
}

.menuyamsheader button{
    width: 50%;
    padding: 5%;
    background-color:rgb(107, 165, 104);
}

.jeuyamsheader {
    background-color: rgb(214, 167, 167);
    border-radius: 25px;
    width: 80%;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 1%;
    padding: 2%;
    height:fit-content;
    background-color:aliceblue;
    border-radius: 25px;
    width: 90%;
}

main h2 {
    text-align: center;
}

.tableaux {
    display: flex;
    flex-direction: row;
}

table {
    width: 40%;
    margin: 2%;
}

table caption {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: wheat;  /* Couleur de fond du titre */
}

th, td {
    border: 1px solid wheat;
    padding: 10px;
    text-align: center;
}

th {
    background-color: green;
    color: white;
}

td:first-child, th:first-child { /* on change la couleur de fond de la premiere colonne seulement (pour que ce soit beau...) */
    background-color: rosybrown;
    font-weight: bold;
}

tr:hover { /* on change la couleur de fond à l'endroit ou le curseur passe */
    background-color: whitesmoke;
}