html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-self: center;
    text-align: center;
    width: 90%;
}

.menuyamsheader{
    display: flex;
    flex-direction: column;
    background-color: rgb(167, 201, 214);
    border-radius: 25px;
    width: 20%;
    padding: 1%;
}

.menuyamsheader button{
    width: 50%;
    padding: 5%;
    background-color:rgb(107, 165, 104);
}

.jeuyamsheader {
    background-color: rgb(214, 167, 167);
    border-radius: 25px;
    width: 80%;
}

main {
    display: flex;
    flex-direction: row;
    height: 80%;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 50%;
}

.goBack {
    height: 50%;
    width: 50%;
    background-color: beige;
    margin: 2%;
    border-radius: 15px;
    padding: 2%;
}

.goForward {
    height: 50%;
    width: 50%;
    background-color: beige;
    margin: 2%;
    border-radius: 15px;
    padding: 2%;
}

.showGame {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: aliceblue;
    margin: 2%;
    border-radius: 15px;
    padding: 2%;
}

.playerGames {
    display: flex;
    flex-direction: row;
    height: fit-content;
    background-color: aliceblue;
    margin: 2%;
    border-radius: 15px;
    padding: 2%;
}

.divPlayer {
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.divPlayer2 {
    display: flex;
    flex-direction: row;
}

.divPlayer img {
    display: flex;
    flex-direction: column;
}